:root {
  --accent-color: #cc00ff;
}

.App {
  display: grid;
  grid-template-areas: 
    "header header"
    "register create-post"
    "login posts"
    "logout posts";
  height: 100vh;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: min-content 1fr 2fr 3fr;
  column-gap: 2rem;
  padding: 1rem 2rem;
  align-items: center;
  box-sizing: border-box;
}

form[data-name="Register"] {
  grid-area: register;
}

form[data-name="Login"] {
  grid-area: login;
}

form[data-name="Create post"] {
  grid-area: create-post;
}

.logout-btn {
  grid-area: logout;
}

main {
  grid-area: posts;
}

header {
  display: flex;
  grid-area: header;
  align-items: center;
}

header > p {
  border-bottom: 0.1875rem dotted var(--accent-color);
  padding-inline: 0.25rem;
}

header > h1 {
  font-size: 1.7rem;
  margin-inline: auto;
  background: linear-gradient(to right, var(--accent-color) 0%, black 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.logout-btn {
  align-self: end;
  border: none;
  background-color: var(--accent-color);
  cursor: pointer;
  color: white;
  font-weight: bold;
  padding: 1em 2em;
  border-radius: 1rem;
  max-width: fit-content;
  margin-inline: auto;
  transition: opacity 150ms ease-in-out;
}

.logout-btn:disabled {
  opacity: 0.3;
  cursor: default;
}

main {
  overflow-y: auto;
  align-self: start;
  max-height: 100%;
  display: grid;
  row-gap: 2rem;
  padding: 0.5rem;
}
